
@font-face {
  font-family: 'Circe-ExtraLight';
  src: url('Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),  url('Circe-ExtraLight.otf')  format('opentype'),
	     url('Circe-ExtraLight.woff') format('woff'), url('Circe-ExtraLight.ttf')  format('truetype'), url('Circe-ExtraLight.svg#Circe-ExtraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
