
@font-face {
  font-family: 'Roboto-Medium';
  src: url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),  url('Roboto-Medium.woff') format('woff'), url('Roboto-Medium.ttf')  format('truetype'), url('Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
