
.icon-mail:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-left-open-big:before { content: '\e805'; } /* '' */
.icon-right-open-big:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-vkontakte-1:before { content: '\f189'; } /* '' */